/* Navbar css */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 10px;
  width: 100%;
}
.logo {
  flex: 1;
}
.logo img {
  width: 150px;
  display: block;
}
.links {
  flex: 2;
}
.links a {
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  color: var(--logo-blue);
}
.links li {
  list-style: none;
  display: inline;
  font-size: 1.2em;
}
.links a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  transform: translateX(50%);
  border-radius: 4px;
  background-color: var(--logo-yellow);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links a:hover {
  transform-origin: left;
  transform: scaleX(1);
}
.links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
