/* Navbar base */
.nav-wrapper {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
  padding: 10px 16px;
  position: relative;
}
.logo {
  flex: 1;
}
.logo img {
  width: 150px;
  display: block;
}

/* Desktop links */
.links {
  flex: 3;
}

.links li {
  list-style: none;
  display: inline;
  font-size: 1.1em;
}

.links a {
  padding: 10px 18px;
  text-decoration: none;
  color: #000;
  position: relative;
}

/* Hover underline */
.links a::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  background-color: var(--logo-yellow);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.links a:hover::before {
  transform: scaleX(1);
}
.links a:hover {
  color: var(--logo-blue);
}

/* Breadcrumb button */
.menu-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--logo-blue);
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    margin-left: auto;
  }

  .links {
    position: absolute;
    top: 100%;
    z-index: 999;
    right: 0;
    background: white;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px;
    display: none;
    flex-direction: column;
  }

  .links.open {
    display: block;
  }

  .links li {
    display: block;
    text-align: left;
  }

  .links a {
    display: block;
    padding: 12px 16px;
  }
}
