html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
embed,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
:root {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --logo-blue: #013777;
  --logo-yellow: #db8f03;
}
.cbc-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Navbar css */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  padding: 10px;
}
.logo {
  flex: 1;
}
.links {
  flex: 2;
}
.links a {
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  color: var(--logo-blue);
}
.links li {
  list-style: none;
  display: inline;
  font-size: 1.2em;
}
.links a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  transform: translateX(50%);
  border-radius: 4px;
  background-color: var(--logo-yellow);
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links a:hover {
  transform-origin: left;
  transform: scaleX(1);
}
.links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
h4.c-underline {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.05em;
  background: var(--logo-blue);
  color: #fff;
  padding: 5px 10px;
  border-radius: 1px;
  margin: 0 0 20px 0;
  display: inline-block;
}
