/* make the banner the positioned container */
.banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  color: #fff;
  display: flex;
  align-items: center; /* vertical center */
}

/* overlay */
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  pointer-events: none;
}

/* keep content above overlay */
.banner > * {
  position: relative;
  z-index: 2;
}
.banner-text {
  text-align: left;
}

.banner-text h1 span {
  display: block;
  letter-spacing: 0.01em;
  padding: 5px 0;
}
.banner-text span {
  font-size: 1.5em;
  display: inline-block;
  padding: 0 0 1em 0;
}
.banner-text h1 {
  font-size: 4em;
  font-weight: 600;
  color: var(--logo-yellow);
}
.banner-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 0.9em;
  padding: 1em 0;
}
/* Initial hidden state */
.banner-text span,
.banner-text h1,
.banner-text p {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.9s ease forwards;
}

/* Staggered timing */
.banner-text span {
  animation-delay: 0.2s;
}

.banner-text h1 {
  animation-delay: 0.5s;
}

.banner-text p {
  animation-delay: 1s;
}

/* Animation */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
