.programs {
  padding: 5em 0;
}
.programs h2 {
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: var(--logo-blue);
  padding: 10px 0;
  border-radius: 1px;
  margin: 0 0 10px 0;
  text-align: center;
}
.program-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px 0;
}

/* Tablet */
@media (max-width: 992px) {
  .program-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .program-list {
    grid-template-columns: 1fr;
  }
}

.program-item {
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #000;
}
.program-item h3 {
  text-transform: uppercase;
  font-weight: 300;
  padding: 5px 10px;
  margin-bottom: 15px;
  color: #fff;
  background-color: var(--logo-yellow);
  display: inline-block;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}
.program-item li {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 2em;
  font-size: 0.9em;
}
